body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5fff5;
}

header {
    background: pink;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.cart-icon {
    font-size: 20px;
    font-weight: bold;
}

.offer-bar {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.collections {
    text-align: center;
    margin: 20px;
}

.collections button {
    background: black;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.collections button:hover {
    background: green;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    transition: 0.4s;
}

.product:hover {
    transform: translateY(-5px);
}

.product h3 {
    font-size: 18px;
}

.product button {
    background: black;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.cart-section {
    background: skyblue;
    padding: 30px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
